@tailwind base;
@tailwind components;
@tailwind utilities;

.font-inconsolata {
  font-family: 'Inconsolata', monospace;
}

.font-spacemono {
  font-family: 'Space Mono', monospace;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
